[Generic]
AuthMethod = env
FileTimeStampFormat = %%Y-%%m-%%d-%%H-%%M-%%S
TimeStampAudit = false
PerPage = 25
FixStatus = draft
FixTag = NeedsFixing
FixCategory = Uncategorized
IngestionHost = Better Stack or similar OpenMetric server for posting metric. Empty disables metric posting
MetricEndpoint = metrics
SentryDSN = https://asdfjælasjdflæajsdlfjlaj@xxxxyyyxxx.eu-fsn-3.betterstackdata.com/123564
OutDir = c:\temp
ImportFile = c:\temp\input.csv
AIBackgroundFile = system.txt
AIModel = claude-sonnet-4-6
MaxTokens = 2048
MaxCharIn = 500
AttrEqFile = AttrEq.csv
#Filter = sku:49172
#Filter = sku:D53G-5HacD2HnD-TC&amp;FG621-EA
#Filter = sku:Q208
#Filter = sku:RB941-2nD
#Filter = status:draft|type:simple|min_price:18000
#Filter = sku:E62iUGS-2axD5axT

[WPCreds]
ConsumerKeyField = KEY
ConsumerSecretField = SECRET
BaseURLField = BASEURL

[AICreds]
APIKeyField = ANTHROPIC_API_KEY
MetricTokenField = BS_TOKEN
