[Generic]
AuthMethod = 1Password
1PassAccount = Your Account name
FileTimeStampFormat = %%Y-%%m-%%d-%%H-%%M-%%S
TimeStampAudit = false
PerPage = 25
FixStatus = draft
FixTag = NeedsFixing
FixCategory = Uncategorized
IngestionHost = Better Stack or similar OpenMetric server for posting metric. Empty disables metric posting
OutDir = c:\temp
ImportFile = c:\temp\input.csv
AIBackgroundFile = system.txt
AIModel = claude-sonnet-4-6
MaxTokens = 2048
AttrEqFile = AttrEq.csv
#Filter = sku:49172
#Filter = sku:D53G-5HacD2HnD-TC&amp;FG621-EA
#Filter = sku:Q208
#Filter = sku:RB941-2nD
#Filter = status:draft|type:simple|min_price:18000
#Filter = sku:E62iUGS-2axD5axT

[WPCreds]
VaultID = 1Password VaultID
ItemID = 1Password ItemID
ConsumerKeyField = username
ConsumerSecretField = credential
BaseURLField = hostname

[AICreds]
VaultID = 1Password VaultID
ItemID = 1Password ItemID
APIKeyField = credential
MetricTokenField = MetricToken
