[Generic]
Environment = dev
AuthMethod = 1Password
1PassAccount = Your Account name
1PassTokenEnvVar = 1PASSTOKEN
FileTimeStampFormat = %%Y-%%m-%%d-%%H-%%M-%%S
TimeStampAudit = true
PerPage = 25
FixStatus = draft
FixTag = NeedsFixing
FixCategory = Uncategorized
IngestionHost = Better Stack or similar OpenMetric server for posting metric. Empty disables metric posting
MetricEndpoint = metrics
FailureCode = fail
SentryDSN = https://asdfjælasjdflæajsdlfjlaj@xxxxyyyxxx.eu-fsn-3.betterstackdata.com/123564
HeartBeatURL = https://uptime.betterstack.com/api/v1/heartbeat/q49e2LCdamHxyzabcRRozhALb
IncidentURL = https://uptime.betterstack.com/api/v3/incidents
OutDir = c:\temp
ImportFile = c:\temp\input.csv
AIBackgroundFile = system.txt
AIModel = claude-sonnet-4-6
MaxTokens = 2048
MaxCharIn = 500
AttrEqFile = AttrEq.csv
#Filter = sku:49172
#Filter = sku:D53G-5HacD2HnD-TC&amp;FG621-EA
#Filter = sku:Q208
#Filter = sku:RB941-2nD
#Filter = status:draft|type:simple|min_price:18000
#Filter = sku:E62iUGS-2axD5axT
#Filter = category:! Featured Products !

[Report Export]
ReportFileName = ProductCatalog
ContactEmail = sales@oruggtnet.is
PreambleFilePath = Preamble.txt
ProdImgSize = 35
ExportPriceAdjust = 1.8
ExportTypes = csv,pdf
Units = mm
PDFPageSize = A4
PDFMargins = 20,20,25,25
AfterHeader = 2
AfterParagraph = 4
AfterSection = 6
CompanyName = Öruggt Net ehf
Address = Kristínargata 1
 102 Reykjavik
 Iceland
CompanyLogo = E:\Logo\Öruggt Net.jpg
LogoSize = 80

[WPCreds]
VaultID = 1Password VaultID
ItemID = 1Password ItemID
ConsumerKeyField = username
ConsumerSecretField = credential
BaseURLField = hostname

[AICreds]
VaultID = 1Password VaultID
ItemID = 1Password ItemID
APIKeyField = credential
MetricTokenField = MetricToken

[MikrotikCreds]
VaultID = 1Password VaultID
ItemID = 1Password ItemID
TokenField = credential
HostField = hostname

[UptimeCreds]
VaultID = 1Password VaultID
ItemID = 1Password ItemID
TokenField = credential